body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.container {
  margin-top: 20px;
}

.table th,
.table td {
  text-align: right;
}

.table th:first-child,
.table td:first-child,
.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: left;
}

.form-group {
  margin-bottom: 1rem;
}